*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

body {
  margin: 0;
}

button,
input,
textarea {
  outline: none;
  font-family: inherit;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
